form {
  margin: 3vw;
  display: grid;
  grid: auto / auto 1fr 4fr;
  grid-gap: 4px .7em;

  max-width: 80vw;
  font-family: Arial;
}

input,
select, output {
  font-size: 100%;
  grid-column: 2 / 4;
  padding: .2em;
}


label {
  grid-column: 1 / 2;
}

output {
  border: 1px inset lightgray;
  background-color:#eeeeee;
  color: #666666;
}

button {
  grid-column-start: 2;
  margin-top: 8px;

  justify-self: start;
  font-size: 90%;
  padding: .2em;
}
